.logger {
  background-color: #333333;
  /* background-color: #cc7000; */
  padding: 1rem;
  border-radius: 12px;
  margin:auto;
  margin-top:5px;
}

.logger p {
  font-size: 18px;
  display: inline;
  color:#618685;
}