  .distributing p {
    font-size: 18px;
  }

  .distributing button {
    justify-self:center;
    text-align: center; 
    white-space: pre-line;
  } 

  button {
    margin-top: 10px;
  }

  /* 

  .buttons {
    display:flex;
 } */