img {
    width:200px;
    height:200px;
}

.token {
    display:inline-block;
    margin:10px;
}

.Balance button {
    justify-self:center;
    text-align: center; 
    white-space: pre-line;
  } 

  button {
    margin-top: 10px;
  }

  .tray {
    vertical-align: top;

  }

  .descriptionBox {
    width: 200px;
    background-color: #9b5500;
    border-radius: 12px;
    vertical-align: top;
  }

  .titleBox {
    width: 200px;
    background-color: #cc7000;
    border-radius: 8px;
    vertical-align: top;

  }